* {
    box-sizing: border-box;
}

.container {
    border: 10px solid black;
    padding: 34px 34px 0px 34px

}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid black;
    width: 100%;
    height: 50px;
    margin-bottom: 24px;
}


.box-wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;

 }

.box-large {
    border: 2px solid black;
    width: 45%;
    margin-bottom: 24px;
    height: auto;
}

.tiny-box {
    border: 2px solid black;
    width: 30%;
    height: 50px;
}

.tiny-box-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

